t]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/pumactl start
Restart=always

[Install]
WantedBy=multi-user.target

